body {
    margin: 0;
    background: #111;
    font-family: Arial, sans-serif;
    color: white;
}

/* Navbar */
.navbar {
    background: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffcc00;
}

#search {
    padding: 10px;
    width: 200px;
}

/* Film Grid */
.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.movie {
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.movie img {
    width: 100%;
}

.movie-title {
    padding: 10px;
    font-size: 14px;
}
